<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유저 정보</title>
    <style>
        input { padding: 3px; }
    </style>
</head>
<body style="margin: 50px;">

    <h1>회원정보</h1>
    <table style="width: 75%">
        <tr>
            <td>ID</td>
            <td>[[${user.uid}]]</td>
        </tr>
        <tr>
            <td>이름</td>
            <td>[[${user.uname}]]</td>
        </tr>
        <tr>
            <td>이메일</td>
            <td>[[${user.email}]]</td>
        </tr>
        <tr>
            <td>가입일자</td>
            <td>[[${user.regDate}]]</td>
        </tr>
        <tr>
            <td>지역</td>
            <td>[[${user.location}]]</td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td>[[${user.tel}]]</td>
        </tr>
    </table>
</body>
</html>