<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:replace="~{fragments/base :: head}"></header>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <title>건물 거래내역</title>
    <script>
        function search() {
            const field = $('#field').val();
            const query = $('#query').val();
            const uri = '/fmh/building/search?f=' + field + '&q=' + query;
            location.href = encodeURI(uri);
        }   
    </script>
    <!--<script src="/fmh/js/aside.js?v=3"></script>-->
</head>
<body>
    <div class="row">
        <div style="width: 100%">
            <canvas id="dealChart" width="80%" height="50%">

            </canvas>
        </div>
    </div>
    
    <script th:inline="javascript">
        var ctx = document.getElementById('dealChart').getContext('2d'); // <canvas> id = "dealChart" 에 2d 타입의 차트 생성
        
        var yeardayList = [];
        var dataList = [];

        var dList = [[${dList}]];

        dList.forEach(function(deal) {
            yeardayList.push(deal.checkYear + deal.checkday);
            dataList.push(deal.money);
        });
        
        var dealChart = new Chart(ctx, {
            type: 'line', // 차트 표시타입
            data: { // 데이터가 들어갈 항목
                labels: yeardayList, // x축 값
                datasets: [{
                    label: 'name',
                    data: dataList,
                    backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                    borderColor: ['rgba(255, 99, 132, 1)']
                }] // y축 값
            },
            options: { // 차트 부가 옵션
                responsive: true, // 차트가 반응형으로 동작하도록 설정
                scales: {
                    y: {
                        beginAtZero: true // 차트의 y축이 0부터 시작
                    }
                }
            }
        });
    </script>
</body>
</html>