<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:replace="~{fragments/base :: head}"></header>
    <meta charset="utf-8">
    <title>여러개 마커에 이벤트 등록하기1</title>
    <script>
        function search() {
            const field = $('#field').val();
            const query = $('#query').val();
            const uri = '/fmh/building/search?f=' + field + '&q=' + query;
            location.href = encodeURI(uri);
        };   
    </script>
    <script th:inline="javascript">
        function updateComment() {
            var commentBean = {
                uid: $('#uid').val(),
                content: $('#content').val(),
                bid: $('#bid').val()
            }
            $.ajax({
                url: "/building/comment2",
                type: "POST",
                data: commentBean
            })
            .done(function (fragment) {
                $('#commentTable').replaceWith(fragment);
            });
        }
    </script>
    <script src="/fmh/js/reply.js?v=3"></script>
</head>
<body>
    <div class="row">
        <div class="col-4">
            <span style="width: 20%;">
                <select class="form-control" id="field">
                    <option value="bname" ${field eq 'bname' ? 'selected' : ''}>이름</option>
                    <option value="addressroad" ${field eq 'addressroad' ? 'selected' : ''}>도로명주소</option>
                </select>
            </span>
            <span style="width: 70%;" th:unless="${query}">
                <input class="form-control" type="text" id="query" placeholder="검색할 내용">
            </span>
            <span style="width: 70%;" th:if="${query}">
                <input class="form-control" type="text" id="query" th:value="${query}">
            </span>
            <span style="width: 10%;">
                <button class="btn btn-outline-primary" onclick="search()">검색</button>
            </span>
            <div>
                <table>

                    <tr>
                        <td>이름</td>
                        <td>[[${building.bname}]]</td>
                    </tr>
                    <tr>
                        <td>지역</td>
                        <td>[[${building.location}]]</td>
                    </tr>
                    <tr>
                        <td>유형</td>
                        <td>[[${building.btype}]]</td>
                    </tr>
                    <tr>
                        <td>지번주소</td>
                        <td>[[${building.address}]]</td>
                    </tr>
                    <tr>
                        <td>도로명주소</td>
                        <td>[[${building.addressroad}]]</td>
                    </tr>
                    <tr>
                        <td>우편번호</td>
                        <td>[[${building.number}]]</td>
                    </tr>
                    <tr>
                        <td>승인날짜</td>
                        <td>[[${building.approve}]]</td>
                    </tr>
                </table>
            </div>

            <!-- 거래내역으로 넘어가는 곳 -->
            <div>
                거래내역 보기
                <br>
                <span th:each="area: ${areaList}">
                    <button class="btn btn-outline-primary" th:onclick="|location.href='@{|/building/deal/${building.bid}/${area}|}'|">[[${area}]]m2 거래내역</button>
                </span>
            </div>
    
            <div th:each="comment: ${commentList}">
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-9 text-end">
                        <span class="me-2">[[${comment.uname}]]</span>
                        <span th:text="${#temporals.format(comment.regDateTime, 'yyyy-MM-dd HH:mm')}"></span>
                        <br><span>[(${comment.content})]</span>
                    </div>
                    <div class="ms-2" th:each="reply: ${replyList}">
                        <div th:if="${comment.cid == reply.cid}">
                            <span class="me-2">[[${reply.uname}]]</span>
                            <span th:text="${#temporals.format(reply.regDateTime, 'yyyy-MM-dd HH:mm')}"></span>
                            <br><span>[(${reply.content})]</span>
                        </div>
                    </div>
                    <div class="ms-2" th:if="${session.uid}" class="replywrite">
                        <div class="mt-2 d-none" id="replyInput">
                            <form th:if="${session.uid}" class="form-inline" action="/fmh/building/reply" method="post">
                                <input type="hidden" name="replycid" th:value="${comment.cid}">
                                <input type="hidden" name="replybid" th:value="${building.bid}">
                                <input type="hidden" name="replyuid" th:value="${session.uid}">
                                <div class="row d-flex mt-2" style="align-items: center;">
                                    <div class="col-1">
                                        <span>댓글</span>
                                    </div>
                                    <div class="col-9">
                                        <textarea name="replycontent" rows="2" class="form-control" style="resize: none;"></textarea>
                                    </div>
                                    <div class="col-2">
                                        <button type="submit" class="btn btn-primary">등록</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <form th:if="${session.uid}" class="form-inline" action="/fmh/building/comment" method="post">
                <input type="hidden" name="bid" th:value="${building.bid}">
                <input type="hidden" name="uid" th:value="${session.uid}">
                <div class="row d-flex mt-2" style="align-items: center;">
                    <div class="col-1">
                        <span>댓글</span>
                    </div>
                    <div class="col-9">
                        <textarea name="content" rows="3" class="form-control" style="resize: none;"></textarea>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary">등록</button>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-8">
           <aside th:replace="~{fragments/base :: aside2(bL=${buildingList}, build=${building}, La=${lat}, Lo=${lon}, f=${field}, q=${query})}"></aside> 
        </div>
    </div>
</body>
</html>